<section id="cv" class="flex flex-col min-h-screen py-10 bg-cyan-100">
  <div class="container grid flex-grow gap-4 mx-auto md:grid-cols-3">
    <!-- Primera columna con dos filas: título y imagen gap es para el marge entre columnas -->
    <div class="col-span-1">
      <div class="row-span-1 text-center">
        <h3 class="text-2xl underline textcv">
          <strong>{{ tittle }}</strong>
        </h3>
      </div>
      <div class="flex items-center justify-center row-span-2 mt-10 ml-2">
        <img src="assets/imagenes/fotopersonal.jpg" alt="fotopersonal"
          class="w-48 h-48 rounded-full">
      </div>
    </div>

    <!-- Segunda columna: contenido -->
    <div class="col-span-1 pt-8 md:pt-20" data-aos="fade-right">
      <h4 class="pl-5"><strong>Educacion</strong></h4>
      <ul class="timeline">
        <li class="mb-4">
          <em class="font-italic">{{ info.data.titulacion.dam }}</em>
          <p>{{ info.data.titulacion.year }}</p>
        </li>
        <li>
          <em class="font-italic">{{ info.data.titulacionSeguridad.seguridad
            }}</em>
          <p>{{ info.data.titulacionSeguridad.year }}</p>
        </li>
        <li>
          <em class="font-italic">{{ info.data.language.level }}</em>
          <p>{{ info.data.language.language }}</p>
        </li>
      </ul>
    </div>

    <!-- Tercera columna: Experiencia -->
    <div class="col-span-1 pt-8 md:pt-20" data-aos="fade-right">
      <h4 class="pl-5"><strong>Experiencia</strong></h4>
      <ul class="list-disc timeline">
        <li *ngFor="let experience of experiences" class="pl-5">
          <h4 class="ml-10 text-xl font-bold">{{ experience.title }}</h4>
          <h5>{{ experience.company }}</h5>
          <p>{{ experience.period }}</p>
          <p><strong>Technologies:</strong> {{ experience.technologies }}</p>
          <button (click)="detailsOnClick(experience)" type="button"
            class="ml-10 btn btn-primary">
            <span *ngIf="!experience.mostrar">+</span>
            <span *ngIf="experience.mostrar">-</span>
            {{ tareas }}
          </button>
          <p *ngIf="experience.mostrar">
            <span *ngFor="let task of experience.task; let index = index">
              <strong class="block">{{ task }}</strong>
              <br>
            </span>
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>