<
  <nav class="bg-gray-800 header">
    <div class="px-2 mx-auto max-w-7xl sm:px-6 lg:px-8">
     
  
        <div class="items-center justify-center flex-1 sm:ml-40 sm:block">
          <div class=" sm:block sm:mx-auto sm:w-1/2">
            <div class="flex space-x-8">
              <!-- #indica un enlace a la parte superior de la página actual   -->
              <a href="#"
                class="px-0 py-3 text-sm font-medium text-white rounded-md hover:bg-gray-600" aria-current="page">Inicio</a>
              <a href="#cv"
                class="px-1 py-3 text-sm font-medium text-white rounded-md hover:bg-gray-600">CV</a>
              <a href="#portafolio"
                class="px-1 py-3 text-sm font-medium text-white rounded-md hover:bg-gray-600">Portafolio</a>
              <a href="#contacto"
                class="py-3 text-sm font-medium text-white rounded-md hover:bg-gray-600">Contacto </a>
                   <a href="https://www.linkedin.com/in/alberto-maneiro-tub%C3%ADo-116aba204/"
                class="py-3 text-sm font-medium text-white rounded-md hover:bg-gray-600"  rel="noopener noreferrer" title="linkedin" target="_blank">
              <img  class="w-6 h-5"  src="./assets/imagenes/linkedin.png" alt="linkedin">
              </a>
                <a href="https://github.com/mtalberto?tab=repositories"
                class="py-3 text-sm font-medium text-white rounded-md hover:bg-gray-600"  rel="noopener noreferrer" title="linkedin" target="_blank">
              <img  class="w-6 h-5"  src="./assets/imagenes/github.png" alt="linkedin">
              </a>
              </div>
          </div>
        </div>

      </div>
  


  </nav>
