#txtcontacto{
    padding-left:342px;
}

.correo{

      filter: drop-shadow(0 0 0.45rem lightblue);
   
 
}


.txtACto{
    resize: none;
    width:120px
    field-sizing:content;
    min-height: 4lh;
}
