/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html {scroll-behavior: smooth;}

/** Usar html { scroll-behavior: smooth; } proporciona una experiencia
de desplazamiento más agradable y fluida en las páginas web, mejorando la
 navegabilidad y la interacción del usuario con el contenido. */







