#homeimage {

    font-family: "Poppins", sans-serif;
   
    height: 100vh;
    display: flex;
    background: top center;
    background-size:cover;
    

}


/* vh significa el 100% de la altura del viewport(ventana navegaor) */



