#homeimage {

    font-family: "Poppins", sans-serif;
   
    height: 100vh;
    display: flex;
    background-position: center;/
    background-size:cover; 
 -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(165, 243, 252, 1) 1%,
    rgba(165, 243, 252, 0.8) 30%,
    rgba(165, 243, 252, 0.6) 50%,
    rgba(165, 243, 252, 0.4) 70%,
    rgba(165, 243, 252, 0.2) 82%,
    transparent 100%
  );
  mask-image: linear-gradient(
    to bottom,
    rgba(165, 243, 252, 1) 1%,
    rgba(165, 243, 252, 0.8) 30%,
    rgba(165, 243, 252, 0.6) 50%,
    rgba(165, 243, 252, 0.4) 70%,
    rgba(165, 243, 252, 0.2) 82%,
    transparent 100%
  );
}



